/* @media only screen and (max-width: 1700px){ */
body {
  background-image: url('./french-stucco.png');
  font-family: 'Open Sans', sans-serif;
}

.welcome {
  text-align: center;
  display: block;
  font-size: 4vh;
  font-weight: bold;
  padding-top: 20rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.welcome:active { color: #61dafb; text-shadow: 5px 5px black; }

.welcome:link { color: rgb(0, 255, 234)}

.welcome:visited { color: rgb(0, 255, 234); }

.welcomeHead {
  font-size: 4vh;
  font-weight: bold;
  padding-top: 20rem;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: Sans-Serif;
  text-shadow: 4px 3px rgba(0, 0, 0, 0.4);
}

.welcomeImg {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: 25%;
}

.headerWrapper {
  text-align: center;
  padding: 0;
  display: flex;
  background-color: rgb(24, 207, 192);
}

.headerTitle {
  font-size: 2rem;

  color: rgb(0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  padding: 0.5rem;
}

.nav {
  text-align: center;
  font-size: 1vh;
  font-family: sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  text-decoration: none;
  padding-top: 1rem;
}

a:visited{ color: black}

a:active{
  color: #61dafb;
  text-shadow: 0 10px black;
}

a { 
  text-decoration: none; 
  color: black;
}

.home:hover{
  background-color: rgba(28, 136, 139, 0.5);
}

.agaves:hover{ 
  background-color: rgba(28, 136, 139, 0.5);
}

.about:hover{ 
  background-color: rgba(28, 136, 139, 0.5);
}

.contact:hover { 
  background-color: rgba(28, 136, 139, 0.5);
}

.navHeader {
  text-align: center;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.home{
  padding-right: 2rem;
  padding-left: 5rem;
}

.agaves{
  padding-right: 2rem;
  padding-left: 2rem;
}

.about{
  padding-right: 2rem;
  padding-left: 2rem;
}

.contact{
  padding-right: 2rem;
  padding-left: 2rem;
}

img {
  width: 100%;
  height: 100%;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  display: inline-block;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
  color: black;
  font-family: sans-serif;
  font-weight: 500;
}

/* Style the back side */
.flip-card-back {
  background-color: transparent;
  color: black;
  transform: rotateY(180deg);
  font-family: sans-serif;
  font-weight: 300;

}

.productImg {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.headerImage {
  height: 10%;
  width: 10%;
}

/* } */
